@using APINeptuno.Models
@model List<PedidoExtended>
@{
	ViewData["Title"] = "Listado de pedidos";
}

<div class="row">
	<div class="col">
		<h1>@ViewData["Title"]</h1>

		<table class="table table-bordered table-striped">
			<tr>
				<th>OrderId</th>
				<th>Fecha</th>
				<th>Cliente</th>
				<th>Vendedor</th>
				<th>Carrier</th>
				<th>Importe</th>
				<th>Costes Logísticos</th>
				<th>Opciones</th>
			</tr>
			@{
				foreach (var item in Model)
				{
							<tr>
								<td>@item.OrderId</td>
								<td>@DateTime.Parse(item.OrderDate.ToString()).ToShortDateString()</td>
								<td>@item.CustomerName</td>
								<td>@item.EmployeeName</td>
								<td>@item.ShipperName</td>
								<td>@decimal.Parse(item.Amount.ToString()).ToString("N2")</td>
								<td>@decimal.Parse(item.Freight.ToString()).ToString("N2")</td>
								<td>
									<a id="link_@item.OrderId" href="javascript:void(0);" onclick="viewOrder(@item.OrderId);">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</td>
							</tr>
							<tr id="cpaPedido_@item.OrderId" style="display:none;">
								<td colspan="8" class="text-center" style="width:100%" id="tdPedido_@item.OrderId">
								</td>
							</tr>
				}
			}
		</table>		


	</div>
</div>

<script>
	function viewOrder(orderId)
	{
		var estado = $("#cpaPedido_"+orderId).css("display");
		if (estado=="none")
		{
			//Desplegar
			$("#cpaPedido_" + orderId).css("display","table-row");

			//Reloj
			$("#tdPedido_" + orderId)
				.html("<img src='/images/loading.gif' width='50' />");

			//Inhabilitar
			$("#link_" + orderId).css("display","none");

			//Ajax
			//TO_DO
			$.ajax
			(
				{
					url: "/Orders/ViewDetail",
					data: { orderId: orderId },
					type: "GET",
					success: function (resp) 
					{
						//Update UI
						$("#tdPedido_" + orderId)
							.html(resp);
						
						$("#link_" + orderId).css("display","block");
					},
					error: function () 
					{
						$("#tdPedido_" + orderId)
							.html("<p class='text-danger'>Se ha producido un error. Inténtelo más tarde</p>");
						
						$("#link_" + orderId).css("display","block");
					}
				}
			)

		}
		else
		{
			//Plegar
			$("#cpaPedido_" + orderId).css("display", "none");
		}
	}

	function adjustColor(orderId,productId)
	{
		$("#tooltip_"+orderId+"_"+productId).css("color","red");

		//AJAX
	}
</script>
