@using _20221118_NeptunoMVC.Dal;
@{
	ViewData["Title"] = "Products";
}
<div class="row">
	<div class="col" style="text-align:center;margin-bottom:25px;">
		<h1>@ViewData["Title"]</h1>
	</div>
</div>
<div class="row">
	<div class="col">
		<table class="table table table-striped">
			<tr>
				<th>Image</th>
				<th>Product</th>
				<th>Category</th>
				<th>Price</th>
				<th>Stock</th>
				<th>State</th>
				<th>Options</th>
			</tr>
			@{
				var lista = (List<ProductSlim>)ViewData["products"];
				foreach(var item in lista){
									<tr>
										<td>Image</td>
										<td>@item.ProductName</td>
										<td>@item.CategoryName</td>
										<td>@item.Price</td>
										<td>@item.Stock</td>
										<td>@item.State</td>
										<td>item.Options</td>
									</tr>
				}
				
			}
			
		</table>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<input type="button" class="btn btn-primary" value="Back to Categories"
			onclick="backCategories();" />
		<a href="/Categories/Index" class="btn btn-primary"role="button" >Back to Categories</a>
	</div>
</div>
<script>
	function backCategories(){
		location.href="/Categories/Index";
	}
</script>