
@using APINeptuno.Models
@model List<PedidoExtended> 
@{

	ViewData["Title"]="Listado de pedidos";
}
<div class="row">
	<div class="col">
		<h1>@ViewData["Title"]</h1>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Order Id</th>
				<th> Fecha</th>
				<th>Cliente</th>
				<th>Vendedor</th>
				<th>Carrier</th>
				<th>Importe</th>
				<th>CostesLogisticos</th>
				<th>Opciones</th>
			</tr>

@{
			foreach(var item in Model){
																	<tr>
																		<td>@item.OrderId</td>
																		<td>@DateTime.Parse(@item.OrderDate.ToString()).ToShortDateString()</td>
																		<td>@item.CustomerName</td>
																		<td>@item.EmployeeName</td>
																		<td>@item.ShipperName</td>
																		<td>@decimal.Parse(@item.Amount.ToString()).ToString("N2")</td>
																		<td>@decimal.Parse(@item.Freight.ToString()).ToString("N2")</td>
																		<td>
																			<a id="link_@item.OrderId" href="javascript:void(0);" onclick="viewOrder(@item.OrderId);">
																				<i class="fa fa-eye" aria-hidden="true"> </i>
																			</a>	
																		</td>
																	</tr>
																	<tr id="cpaPedido_@item.OrderId" style="display:none">
																		<td id="tdPedido_@item.OrderId" colspan="8" style="text-align:center">
																		</td>
																	</tr>
					}
				}
				</table>
				

			</div>


		</div>
		<script>
			function viewOrder(orderId)
			{
				
				var estado=$("#cpaPedido_"+orderId).css("display");
		if (estado == "none") {
			
					$("#cpaPedido_"+orderId).css("display","table-row");
					$("#tdPedido_"+orderId).html("<img src='/images/loading.gif' width='50' />")
					$("#link_"+orderId).css("display","none");

					//AJAX
			$.ajax({
				// la URL para la petición
				url: '/Orders/ViewDetail',

				data: { orderId: orderId },

				type: 'GET',


				// código a ejecutar si la petición es satisfactoria;
				// la respuesta es pasada como argumento a la función
				success: function (resp) {

					$("#tdPedido_" + orderId).html(resp);
					$("#link_" + orderId).css("display", "block");

				},

				// código a ejecutar si la petición falla;
				// son pasados como argumentos a la función
				// el objeto de la petición en crudo y código de estatus de la petición
				error: function () {
					$("#tdPedido_" + orderId).html("<p class='text-danger'>Se ha producido un error. Intentelo más tarde</p>")
			
					$("#link_" + orderId).css("display", "block");

				},

				// código a ejecutar sin importar si la petición falló o no
				complete: function (xhr, status) {
					//alert('Petición realizada');
				}
			});
				}
				else{
			
				$("#cpaPedido_" + orderId).css("display", "none");
				
				}
			}

		</script>